* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.videoTag {
position: fixed;
 left: 0;
 z-index: -1;
}
.video2 {
  left: 0;
  z-index: -1;
}

header {
  padding: 30px;
  background: #000505;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;  
  text-align: right;
  margin-bottom: 100px;
}

nav {
    list-style-type: none;
}

li {
  display: inline;
  margin: 7px;
}

a {
  text-decoration: none;
  color: #F9DC5C;
}

/* header styling ends here */

body {
text-align: center;
color: #F9DC5C;
line-height: 1.5;
}

.container {
  background-color: #141414;
  border-radius: 10px;
  word-wrap: break-word;
  margin: 5%;
  padding: 150px;
  opacity: 92%;
}

H2 {
  display: inline;
}

#profileIMG {
  margin: 5px;
  width: 300px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  float: left; 
}

.links {
  width: 10em;
  display: block;
  padding-right:30px;
  margin: 0 auto;
}