* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  background: hsla(265, 53%, 29%, 1);
background: linear-gradient(90deg, hsla(265, 53%, 29%, 1) 0%, hsla(24, 93%, 73%, 1) 100%);
background: -moz-linear-gradient(90deg, hsla(265, 53%, 29%, 1) 0%, hsla(24, 93%, 73%, 1) 100%);
background: -webkit-linear-gradient(90deg, hsla(265, 53%, 29%, 1) 0%, hsla(24, 93%, 73%, 1) 100%);
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#432371", endColorstr="#FAAE7B", GradientType=1 );
background-attachment: fixed;
}

header {
  padding: 30px;
  text-align: center;
  background: #000000;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;  
  text-align: right;
}

nav {
    list-style-type: none;
}

li {
  display: inline;
  margin: 7px;
}

a {
  text-decoration: none;
  color:#f0f05e;
}

/* header styling ends here */

body {
text-align: center;
color: #f0f05e;
line-height: 1.5;
}

.about-container {
  background-color: #280238;
  margin: 40px;
  border-radius: 10px;
  padding: 50px;
  opacity: 80%
}
